.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #007bff;
  color: #fff;
  border-bottom: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 15px;
}

.card-body {
  padding: 20px;
}

h2 {
  font-size: 1.75rem;
  margin: 0;
}

.list-group-item {
  border: none;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.category-link {
  color: #007bff;
  text-decoration: none;
  flex-grow: 1;
}

.category-link:hover {
  text-decoration: underline;
}

.btn {
  padding: 5px 10px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
  width: 75px;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.ml-3 {
  margin-left: 1rem;
}

.back-button {
  text-decoration: none;
  color: #007bff;
}

.back-button:hover {
  text-decoration: underline;
}

.text-center.mt-3 {
  text-align: center;
  margin-left: 20px;
}
