.content-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 2.5rem 0;
  width: 100%;
  position: fixed;
  bottom: 0;
}
