.container {
  max-width: 800px;
  margin: auto;
}

h2,
h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.list-group-item {
  border-radius: 8px;
  margin-bottom: 0.5rem;
}
